/.vs
*.cache
*.lref
*.tmp
*.resources
*.exe
/bin
/obj
SoundBoard/SoundBoard/bin/Debug
SoundBoard/SoundBoard/bin/Release
SoundBoard/SoundBoard/obj/Debug
SoundBoard/SoundBoard/obj/Release
SoundBoard/.vs